/*Contact Page*/

/*Section Styles*/
.pagebanner {
    background-image: url("contact.jpg");
}

.location, .contact {
    align-content: center;
    display: inline-flex;
    height: 450px;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
}

.contact {
    height: 300px;
}

.location p, .contact p, .contact a {
    color: hsl(23, 100%, 97%);
    font-size: 1.4em;
    margin-top: 0.8em;
    overflow-x: hidden;
    text-align: center;
    width: 100%;
}

/*Content Styles*/

.visit, .info{
    align-content: center;
    background-color: hsla(0, 51%, 49%, 0.8);
    border: 0.05em solid hsl(0, 100%, 10%);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    width: 40%;
}

.info {
    width: 23%;
}

img {
    height: 50px;
    margin-top: 0.8em;
}

.contact a:hover {
    color: hsl(0, 100%, 10%);
}
