/*General*/

* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: normal;
    margin: 0 auto;
    text-decoration: none;
  }

body {
    background-color: hsl(0, 100%, 14%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23470000' width='11' height='11'/%3E%3Crect fill='%23490102' x='10' width='11' height='11'/%3E%3Crect fill='%234b0103' y='10' width='11' height='11'/%3E%3Crect fill='%234c0205' x='20' width='11' height='11'/%3E%3Crect fill='%234e0306' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23500408' y='20' width='11' height='11'/%3E%3Crect fill='%2352040a' x='30' width='11' height='11'/%3E%3Crect fill='%2354050b' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%2355060c' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%2357070e' y='30' width='11' height='11'/%3E%3Crect fill='%2359080f' x='40' width='11' height='11'/%3E%3Crect fill='%235b0910' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%235d0b11' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%235f0c12' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23610d13' y='40' width='11' height='11'/%3E%3Crect fill='%23630e14' x='50' width='11' height='11'/%3E%3Crect fill='%23650f15' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23671016' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23681116' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%236a1217' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%236c1318' y='50' width='11' height='11'/%3E%3Crect fill='%236e1519' x='60' width='11' height='11'/%3E%3Crect fill='%2370161a' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%2372171b' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%2374181c' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%2376191d' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23781a1e' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%237a1b1e' x='70' width='11' height='11'/%3E%3Crect fill='%237c1c1f' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%237e1d20' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23801e21' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23821f22' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23842023' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23862124' x='80' width='11' height='11'/%3E%3Crect fill='%23882225' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%238a2326' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%238d2427' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%238f2528' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23912629' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2393282a' x='90' width='11' height='11'/%3E%3Crect fill='%2395292a' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23972a2b' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23992b2c' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%239b2c2d' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%239d2d2e' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%239f2e2f' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23a12f30' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23a33031' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23a63132' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23a83233' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23aa3334' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23ac3435' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ae3536' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23b03637' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23b23838' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23b43939' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23b73a3a' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23b93b3b' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23bb3c3c' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23BD3D3D' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; 
}

a:hover {
    color: hsl(0, 100%, 8%);
}

/*Header Section*/
  
header {
    align-items: center;
    background-color: hsl(0, 68%, 20%);
    border-bottom: 1px solid hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    display: flex;
    height: 2.5em;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

header h2, nav {
    background-color: transparent;
    margin: 10px;
}

header a {
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    margin: 5px;
}

/*Page Banner*/

pagebanner p {
    background-color: hsla(0, 95%, 7%, 0.5);
    background-image: url('banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(0, 0%, 100%);
    font-size: 4em;
    height: 5em;
    line-height: 5em;
    position: relative;
    text-align: center;
    top: 0.5em;
    width: 100%;
}

/*Page Header*/

pageheader p {
    color: hsl(0, 0%, 100%);
    font-size: 3.2em;
    height: 4em;
    line-height: 4em;
    margin-top: 1.2em;
    text-align: center;
    width: 86%;
}

/*Footer Section*/

footer {
    color: hsl(0, 51%, 90%);
    position: relative;
}
